<div>
    <section class="overview">
        <div id="chart"></div>
    </section>
    <section>
        <div class="addEmployee">
        </div>
        <div class="employeeListContainer">
            <section>
                <app-add-employee (add)="rndList = onAddEmployee(rndList, $event)"></app-add-employee>
                <app-employee-list [employeeList]="rndList"></app-employee-list>
            </section><section>
                <app-add-employee (add)="salesList = onAddEmployee(salesList, $event)"></app-add-employee>
                <app-employee-list [employeeList]="salesList"></app-employee-list>
            </section>
        </div>
    </section>
</div>
